<div class="col-sm-6 clearfix">
  <img src="{{ site.url }}{{ site.baseurl }}/images/teampic/{{ include.member.photo }}" class="img-responsive" width="25%" style="float: left" />
  <h4>{{ include.member.name }}</h4>
  <i>{{ include.member.info }}</i><br>
  {% if include.member.project_title %}<i>Project: </i>{{ include.member.project_title }}.<br>{% endif %}
  <a href="mailto:{{ include.member.email }}">Email <i class="fa fa-envelope"></i></a>.
  {% if include.member.twitter %}<a href="https://twitter.com/{{ include.member.twitter }}">Twitter <i class="fa-brands fa-x-twitter"></i></a>.{% endif %}
  {% if include.member.github %}<a href="https://github.com/{{ include.member.github }}">GitHub <i class="fa-brands fa-github"></i></a>.{% endif %}
  {% if include.member.website %}<a href="{{ include.member.website }}">Website <i class="fa-solid fa-globe"></i></a>.{% endif %}
  <ul style="overflow: hidden">
    {% for i in (1..5) %}
      {% assign edu_key = "education" | append: i %}
      {% assign edu = include.member[edu_key] %}
      {% if edu %}<li>{{ edu }}</li>{% endif %}
    {% endfor %}
  </ul>
</div>
